body{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    color: rgb(49, 49, 49);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #FB8500;
}